body {
  margin: 0 !important;
}

#root {
  min-height: 100dvh;
}

.swiper-pagination-bullet {
  background: rgba(120,120,120,1) !important;
  width: 4px;
  height: 4px;
  opacity: 0.7 !important;
}

.swiper-pagination-bullet-active {
  background: #60a5fa !important;
}